<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>JezykiProg</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'><link rel="stylesheet" href="./style.css">
	<link rel="stylesheet" href="JezykiProgStyle.css">
</head>

<body>

<div class="container-fluid">
<div class="text-center">
  <h1>Najbardziej popularne języki programowania</h1>
  <h2></h2>
  <p class="intro"></p>  

</div>
		<div class="text-center">
			<p class="middle">
				JAVA<br>
			<p class="middle">Jest to współbieżny, oparty na klasach,
				obiektowy język programowania ogólnego zastosowania[5]. Został
				stworzony przez grupę roboczą pod kierunkiem Jamesa Goslinga z firmy
				Sun Microsystems. Java jest językiem tworzenia programów źródłowych
				kompilowanych do kodu bajtowego, czyli postaci wykonywanej przez
				maszynę wirtualną. Język cechuje się silnym typowaniem. Jego
				podstawowe koncepcje zostały przejęte z języka Smalltalk (maszyna
				wirtualna, zarządzanie pamięcią) oraz z języka C++ (duża część
				składni i słów kluczowych).</p>

			<p class="middle">
				C++<br>
			<p class="middle">Jest to język programowania ogólnego
				przeznaczenia. Umożliwia abstrakcję danych oraz stosowanie kilku
				paradygmatów programowania: proceduralnego, obiektowego i
				generycznego. Charakteryzuje się wysoką wydajnością kodu wynikowego,
				bezpośrednim dostępem do zasobów sprzętowych i funkcji systemowych,
				łatwością tworzenia i korzystania z bibliotek (napisanych w C++, C
				lub innych językach), niezależnością od konkretnej platformy
				sprzętowej lub systemowej (co gwarantuje wysoką przenośność kodów
				źródłowych) oraz niewielkim środowiskiem uruchomieniowym.
				Podstawowym obszarem jego zastosowań są aplikacje i systemy
				operacyjne.</p>

			<p class="middle">
				HTML<br>
			<p class="middle">Język ten pozwala opisać strukturę informacji
				zawartych wewnątrz strony internetowej, nadając odpowiednie
				znaczenie semantyczne poszczególnym fragmentom tekstu – formując
				hiperłącza, akapity, nagłówki, listy – oraz osadza w tekście
				dokumentu obiekty plikowe np. multimedia bądź elementy baz danych
				np. interaktywne formularze danych. HTML umożliwia określenie
				wyglądu dokumentu w przeglądarce internetowej. Do szczegółowego
				opisu formatowania akapitów, nagłówków, użytych czcionek i kolorów,
				zalecane jest wykorzystywanie kaskadowych arkuszy stylów.</p>

			<p class="middle">
				SQL<br>
			<p class="middle">SQL – strukturalny język zapytań używany do
				tworzenia, modyfikowania baz danych oraz do umieszczania i
				pobierania danych z baz danych. Język SQL jest językiem
				deklaratywnym. Decyzję o sposobie przechowywania i pobrania danych
				pozostawia się systemowi zarządzania bazą danych (DBMS).</p>


<!-- 			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe width="560" height="315"
								src="https://www.youtube.com/embed/BClS40yzssA" frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
							<div class="caption">
								<p>
									Wstępny instruktaż w C++<br> <br>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div> -->

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe width="560" height="315"
								src="https://www.youtube.com/embed/mbNcq5q8jQ4" frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>
						<div class="caption">
							<p>Przykład A.I z pomocą JAVA</p>
							<ul>

							</ul>
						</div>
					</div>
				</div>
			


			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe width="560" height="315"
							src="https://www.youtube.com/embed/zbMHLJ0dY4w" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</div>
					<div class="caption">
						<p>Wprowadzenie do SQL</p>
						<ul>
						</ul>

					</div>
				</div>
			</div>


			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe width="560" height="315"
							src="https://www.youtube.com/embed/UwsrzCVZAb8" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</div>
					<div class="caption">
						<p>Robert D. Jr. o A.I, jak to widzi Tony Stark</p>
					</div>
				</div>
			</div>
		</div>


		<footer class="footer text-center">
  <div class="container">
  </div>
</footer>
</div>
		<p>
			<a style="text-decoration: none; font-size: 20px; Color: RED"
				href="http://localhost:8080/domowaAI">Główna</a>
		</p></body>



</html>