<!DOCTYPE html>
<html>
	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> 
<head>
<meta charset="UTF-8">
	<title>OdpJARVIS</title>
	<link rel="stylesheet" href="OdpJARVISstyle.css">
</head>
<body>
<div class="id-card-wrapper">
  <div class="id-card">
    <div class="profile-row">
      <div class="dp">
        <div class="dp-arc-outer"></div>
        <div class="dp-arc-inner"></div>
        <img src="https://vignette4.wikia.nocookie.net/leonhartimvu/images/d/d7/JARVIS_Logo.png">
      </div>
      <div class="desc">
        <h1>J.A.R.V.I.S.</h1>
            <p>Proszę odpowiadać według moich wskazówek, sir</p>
            <p>Weakness: None</p>
            <p>AI</p>
            			<p>
				<a style="text-decoration: none; font-size: 20px; Color: RED"
					href="http://localhost:8080/OdpJARVIS"  method="get">Powrót</a>
			</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>