<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>JezykiProg</title>
<link rel='stylesheet'
	href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet'
	href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="JezykiProgStyle.css">
</head>

<body>

	<div class="container-fluid">
		<div class="text-center">
			<h1>Najbardziej popularne języki programowania</h1>
			<h2></h2>
			<p class="intro"></p>

		</div>
		<div class="text-center">
			<p class="middle">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe width="560" height="315"
							src="https://www.youtube.com/embed/zbMHLJ0dY4w" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</div>
					<div class="caption">
						<p>Wprowadzenie do SQL</p>
						<ul>
						</ul>

					</div>
				</div>
			</div>
		</div>


		<p>
			<a style="text-decoration: none; font-size: 20px; Color: RED"
				href="http://localhost:8080/domowaAI">Główna</a>
		</p>
</body>



</html>